body {
  font-family: sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #f5f5f5;
}

.my-slider img {
  width: 100%;
  height: auto;
  display: block;
}

.my-slider {
  max-width: 600px;
  margin: 0 auto;
}